/* quiz.css - Styles spécifiques pour la page Quiz */
.content_quiz {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center; /* Modifié */
    justify-content: center; /* Modifié */
    font-size: 24px;
    background-color:#99ccff;
    position: relative; /* Modifié */
}

.content_quiz p{
    font-size: 25px; /* Modifié */
    color: #003366; /* Modifié */
    position: absolute;
    top: 40px; /* Modifié */
}


#start-button {
    position: fixed;
    top: 40%;
    
    /*transform: translate(-50%, -50%);*/
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: green;
    color: white;
    font-size: 40px;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, border-color 0.2s;
    box-shadow: 0 80px 80px rgba(0,0,0,0.1);
}
#start-button:active {
    border-color: red; /* Bordure rouge lorsqu'on clique dessus */
}

#start-button:hover {
    background-color: green; /* Couleur plus foncée au survol */
    transform: scale(1.05); /* Légère augmentation de taille au survol */
    border-color: red; /* Bordure rouge au survol */
}



.quiz-button {
    background-color: #99ccff;
}

.quiz-button:hover {
    background-color:  #99ccff; /* Fond bleu au survol */
    color: white; /* Texte blanc au survol */
    transform: scale(1.0);
}


nav button {
    background-color: #003366; /* Fond blanc pour les boutons */
    border: 2px solid black; /* Bordure blanche pour se fondre dans le fond */
    color: white; /* Texte bleu */
    padding: 10px 30px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 20px; /* Coins fortement arrondis */
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2); /* Ombre sous les boutons */
    font-size: 16px;
    transition: background-color 0.3s, color 0.4s; /* Transition pour hover */
    margin-top: 0px;
    z-index: -0;
    position:relative;
    bottom: 57px;
    margin-right: 100px;
    margin-left: 80px;
    left: 0%;
    transform: translateX(-0%);
    z-index: 1;

}
nav button:hover {
    background-color:  #99ccff; /* Fond bleu au survol */
    color: white; /* Texte blanc au survol */
    transform: scale(1.1);
}
