/* quiz.css - Styles spécifiques pour la page Quiz */
.content_quiz {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    background-color:#99ccff;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    
}


.content_quiz h1 {
    margin-bottom: 20px; /* Add space below the h1 */
    position: absolute;
    top: 10px;
    text-align: center; /* Center-align text */
}

.content_quiz p {
    max-width: 80%; /* Limit the width of the paragraph to improve readability */
    text-align: center; /* Center-align text */
}

.interactive_quiz_map {
    transition: width 5.5s ease; /* Smooth transition for width changes */
    /*: fixed; /* Fixed position to keep the map in the background */
    width: 50%;
    height: 70%;
    border: 2px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    left: -20%;
}


.quiz-button {
    background-color: #99ccff;
}

.quiz-button:hover {
    background-color:  #99ccff; /* Fond bleu au survol */
    color: white; /* Texte blanc au survol */
    transform: scale(1.0);
}


nav button {
    background-color: #003366; /* Fond blanc pour les boutons */
    border: 2px solid black; /* Bordure blanche pour se fondre dans le fond */
    color: white; /* Texte bleu */
    padding: 10px 30px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 20px; /* Coins fortement arrondis */
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2); /* Ombre sous les boutons */
    font-size: 16px;
    transition: background-color 0.3s, color 0.4s; /* Transition pour hover */
    margin-top: 0px;
    z-index: -0;
    position:relative;
    bottom: 57px;
    margin-right: 100px;
    margin-left: 80px;
    left: 0%;
    transform: translateX(-0%);
    z-index: 1;

}
nav button:hover {
    background-color:  #99ccff; /* Fond bleu au survol */
    color: white; /* Texte blanc au survol */
    transform: scale(1.1);
}

