
/* Apply transition effects to the map and info panel */
.interactive_map, .info-panel {
    transition: width 0.5s ease;
}

.interactive_map {
    height: 100vh; /* Full height */
    width: 100%; /* Full width initially */
    transition: width 5.5s ease; /* Smooth transition for width changes */
    /*: fixed; /* Fixed position to keep the map in the background */
}
.discovery-button {
    background-color: #99ccff;
}

.discovery-button:hover {
    background-color:  #99ccff; /* Fond bleu au survol */
    color: white; /* Texte blanc au survol */
    transform: scale(1.0);
}

nav button {
    background-color: #003366; /* Fond blanc pour les boutons */
    border: 2px solid black; /* Bordure blanche pour se fondre dans le fond */
    color: white; /* Texte bleu */
    padding: 10px 30px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 20px; /* Coins fortement arrondis */
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2); /* Ombre sous les boutons */
    font-size: 16px;
    transition: background-color 0.3s, color 0.4s; /* Transition pour hover */
    margin-top: 0px;
    z-index: -0;
    position:relative;
    bottom: 57px;
    margin-right: 100px;
    margin-left: 80px;
    left: 0%;
    transform: translateX(-0%);
    z-index: 1;


}
nav button:hover {
    background-color:  #99ccff; /* Fond bleu au survol */
    color: white; /* Texte blanc au survol */
    transform: scale(1.1);
}

.info-panel {
    width: 0; /* Initially hidden */
    height: 100vh; /* Full height */
    position: fixed;
    top: 0;
    right: 0;
    background-color: #003366; /* Dark blue background */
    overflow: auto;
    z-index: 1000; /* Above the map */
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    transition: width 0.5s ease; /* Smooth transition for width changes */
}

#info-content {
    padding: 20px; /* Marge intérieure pour l'esthétique */
    color: white; /* Couleur du texte en blanc */
}
  
.info-panel.open {
        width: 25%; /* Taille du panneau ouvert */
        color: white; /* Couleur du texte en blanc */
        transition: width 0.5s ease;
    }
.close-button {
    font-size: 24px; /* Taille de la croix */
    line-height: 24px; /* Alignement vertical de la croix */
    width: 30px; /* Largeur du bouton */
    height: 30px; /* Hauteur du bouton */
    position: absolute; /* Positionnement absolu dans le coin supérieur droit du panneau */
    top: 10px;
    right: 10px;
    border: none; /* Pas de bordure */
    background-color: transparent; /* Fond transparent */
    color: red; /* Couleur rouge pour la croix */
    cursor: pointer; /* Curseur en forme de pointeur pour indiquer que c'est cliquable */
    border-radius: 15px; /* Bords arrondis pour esthétique */
}

.close-button:hover {
    background-color: #99ccff; /* Changement de couleur de fond au survol pour feedback utilisateur */
}

.info-content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


.info-content-item.name {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    font-size: 30px;
    color: red;
    width: 100%;

}
.danger-box {
    background-color: white;
    display: inline-block;
}



.info-header h2 {
    position: absolute;
    top: 30px;
    left: 10px;
}

.info-header img {
    position: absolute;
    right: 10px;
    width: 50%;
    top: 45px;

}






#map-overlay {
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 9999;  
}

#btn-danger {
    background-color: #f44336; /* Red */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

